<div class="dashboard-content">

  <div class="dashboard-content-title">
    <h1>Dashboard</h1>
  </div>

  <div class="dashboard-content-grid">

    <mat-card class="dashboard-content-grid-mat-card">
      <mat-icon color="primary">format_list_numbered</mat-icon>
      <h4>Datasets</h4>
      <a mat-button color="primary" routerLink="/main/dataset">View</a>
    </mat-card>

    <mat-card class="dashboard-content-grid-mat-card">
      <mat-icon color="primary">assignment</mat-icon>
      <h4>Report</h4>
      <a mat-button color="primary" routerLink="/main/report">View</a>
    </mat-card>

  </div>
 

</div>
